.catalog-card-container {
  padding: 0px 0px 25px 0px;
  width: 258px;
}

.catalog-card-container h1 {
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  align-items: center;
}

.catalog-card-container p {
  padding-right: 5px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: rgba(88, 88, 88, 1);
}

@media (min-width: 1280px) {
  .catalog-card-container {
    height: auto;
  }
}
