.home-container {
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.home-banner-container {
  background-color: #00285f;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 0px;
  margin: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 3%;
  min-height: 325px;
  width: 85%;
  color: whitesmoke;
}

.home-banner {
  display: flex;
  flex-direction: column;
  padding-right: 7px;
  align-content: center;
  align-items: center;
  text-align: center;
}

.home-banner h1 {
  padding-top: 35px;
  font-size: 1.2em;
}

.home-banner p {
  padding-top: 5px;
  padding-left: 15px;
  font-size: 0.8em;
  padding-bottom: 20px;
}

.home-banner img {
  padding-top: 32px;
  height: auto;
  width: 244px;
}

.link-card-container {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 28px;
  margin: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 3%;
  min-height: 123px;
  color: #585858;
  width: 85%;
  margin-bottom: 100px;
}

.link-card-container p {
  padding-top: 9px;
  padding-left: 15px;
  font-size: 0.85em;
  padding-bottom: 0px;
}

.link-card-container button {
  background-color: #00285f;
  border-style: none;
  width: 174px;
  height: 40px;
  border-radius: 5%;
  color: whitesmoke;
  font-size: 1em;
  font-weight: 700;
}

@media (min-width: 576px) {
  .link-card-container {
    width: 93%;
  }
  .link-card {
    display: flex;
    flex-direction: row;
  }
  .link-card-container button {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .link-card-container p {
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
  }
  .home-banner-container {
    width: 93%;
  }

  .home-banner h1 {
    font-size: 1.5em;
  }

  .home-banner p {
    font-size: 1.1em;
  }
}

@media (min-width: 768px) {
  .link-card-container {
    width: 93%;
  }
  .home-banner-container {
    width: 93%;
  }

  @media (min-width: 992px) {
    .link-card-container {
      width: 93%;
    }
    .home-banner-container {
      width: 93%;
    }
  }

  @media (min-width: 1280px) {
    .home-banner {
      padding-top: 40px;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: center;
      width: 90%;
      margin: 0px;
    }
    .home-banner-container {
      width: 76%;
      height: 365px;
      border-radius: 10px;
    }
    .home-banner h1 {
      font-size: 1.8em;
      padding-left: 13px;
    }
    .home-banner p {
      font-size: 1.2em;
    }
    .home-banner img {
      width: 333px;
    }
    .home-banner-text {
      padding-right: 10px;
      text-align: left;
      width: 420px;
    }
    .link-card-container {
      width: 76%;
      height: 123px;
      border-radius: 10px;
    }
    .link-card p {
      font-size: 1em;
    }
  }
}
