.search-card-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 3%;
    min-height: 86px;
    width: 82%;
    max-width: 979px;
    margin-bottom: 20px;
    padding: 0px;
  }
  
  .search-card-container button {
    border-radius: 0px 5px 5px 0px;
    border: 0px;
    width: 77px;
    height: 30px;
    font-weight: 700;
    font-size: 14px;
    background-color:#00285F;
    color: white;
  }
  
  .search-card-container input {
    width: 140px;
    height: 30px;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
    color: #a7a7a7;
    font-size: 14px;
    padding-left: 10px;
  }